
@charset ="utf-8";


@font-face{

	font-family: 'fonte2';
	src: url('../fonte/PlayfairDisplay-Italic.ttf');
}
@font-face{

	font-family: 'fonte3';
	src: url('../fonte/PlayfairDisplay-Regular.ttf');
}

/*------------------------------------------------------------------------------------*/
body {
	font-family: 'Arial', sans-serif;
	background-color: #B8860B;
	color: rgba(0,0,0,1);
	background: url('../_imagens/madeira.jpg');
	background-size: 1000px 1200px;

}
/*------------------------------------------------------------------------------------*/

div#interface{/*ajuste de distancia do topo*/

	width: 1100px;/*tamanho do bloco principal do site*/
	background-color: #ffffff;
	margin: 20px auto 30px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 2px 10px 10px 10px;
	position:relative;
	font-family: 'Arial', sans-serif;
	z-index: 1;
	
}


/*------------------------------------------------------------------------------------*/

p {
	text-align:justify;/*ajuste de texto*/
	text-indent: 50px;
	font-family:'Arial', helvetica, sans-serif; 
}

/*------------------------------------------------------------------------------------*/

header#cabecalho img#logotipo{/*ajuste de logotipo*/
	position: absolute;
	left: 20px;
	top: 50px;
	border-radius: 700px 700px 700px ;/*borda da imagem logotipo*/;
	box-shadow: 1px 1px 4px 8px white;

	}
/*------------------------------------------------------------------------------------*/
header#cabecalho h1{
	font-family:'fonte2';
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-top: 150px;/*ajuste vertical do titulo*/
	margin-left: 300px;/*ajuste horizontal do titulo*/

}

header#cabecalho h2{
	font-family: 'fonte2';
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-left: 500px;
	top: 200px;
	padding: 0px;
	margin-top: 60px;/*ajuste vertical do subtitulo*/
	margin-left: 400px;/*ajuste horizontal do subtitulo*/
	}

/*-----------------------------------------------------------------------------------*/
/*FORMATAÇÃO DE IMAGEM NO BLOCO TEMA E CABEÇALHO*/

header#cabecalho {
	border-bottom: 50px #DAA520 solid;
	height: 155px;/*tamanho do container*/
	margin-top: 0px;
	border-top: 3px solid #bebebe;
	position: relative;
	top: -1px;
	background-color: #888888 ;
	border-radius: 10px;

}

header#linha {/*ajuste de imagem tema cabeçalho*/
	
	border-bottom: 2px #FF7F50 solid;
	position: relative;
	
}
header#linha img#fig1{
	
	margin-left:50px;
}



/*----------------------------------------------*/
/*FORMATAÇÃO DE TITULOS CABEÇALHO*/

header#cabecalho-artigo h1 {
	font-family: 'Fonte2', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: -70px;
}
header#cabecalho-artigo h2 {
	font-size: 13pt;			
	color: #cecece;				 
	background-color: #ffffff;	 
	margin: -70px; 
	font-family: 'fonte2', sans-serif;				 
}
header#cabecalho-artigo h3 {
	font-size: 12pt;
	color: #606060;
}



/*-----------------------------------------------------------------------------------*/
/*FORMATAÇÃO DE IMAGENS COM LEGENDAS*/

figure{/*ajuste de imagem no meio do texto*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
	width: auto;
}
	
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{

opacity: 0;
position: absolute;
top:0px;
background-color: rgba(0,0,0,.4);
color: white;
width: 24%;
height: 100%;
padding: 10px;
box-sizing: border-box;
transition: opacity 1s;

}
figure.foto-legenda:hover figcaption{
	opacity:1;
}
/*------------------------------------------------------------------------------------*/
/*FORMATAÇÃO DO MENU DE LINKS*/

nav#menu{
	display:block;
	

}

nav#menu ul {/*posição do menu*/
	list-style: none;
	
	position: absolute;
	top: 37px;
	left: 530px;
	

}



nav#menu li{

	display: inline-block;
	background-color:#DAA520;
	padding: 14px;
	margin: -3px;
	transition: background-color 1s;
	
}

nav#menu li#multi{
	
	border-radius: 0px 10px 10px 0px; 
}

nav#menu li#cadastro{
	
	border-radius: 10px 0px 0px 10px; 
}

nav#menu h1{
	display: none;
	
}

nav#menu a{
	color: #000000;
	text-decoration:none;
	
}

nav#menu li#redondo1{
	border-radius: 10px 0px 0px 10px;
}

nav#menu li#redondo2{
	border-radius: 0px 10px 10px 0px;
}


nav#menu a:hover{

	color:#ffffff;
	text-decoration:none;
	
}
/*--------------------------------------------------------------------------------------*/
/*FORMATAÇÃO DE CORES NA PAGINA E DISTANCIA*/


section#corpo {
	display: block;
	width:550px;/*distancia da lateral esquerda*/
	float: left;
	border-right: 1px solid #bebebe;
	padding-right: 20px;
	margin-top: 180px;
}
article#noticia-principal h2 {/*FORMATAÇÃO DE TITULOS COM TARJA CINJA*/
	font-size: 12pt;
	color: #606060;
	background-color:#dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0PX 10PX 0PX;

}
section#corpo h2{
	font-family: 'fonte3';
}

/*--------------------------------------------------------------------------------------*/
/*FORMATAÇÃO DE CONTEUDO E TABELA PERSONALIZADA*/

table#tabelaespec{/*FORMATAÇÃO DE ESTRUTURA DA TABELA*/
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left:auto;
	margin-right: auto;
}

table#tabelaespec caption{/*FORMATAÇÃO DE TITULO NA TABELA*/
	color:#888888;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaespec caption span{/*FORMATAÇÃO DE DATA EM CIMA DA TABELA*/
	display:block;
	float: right;
	color:#000000;
	font-size:8px;
	margin-top: 10px;
}


table#tabelaespec td{/*FORMATAÇÃO DE ALINHAMNETO DE TEXTO NA TABELA*/
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabelaespec td.ce{/*FORMATAÇÃO DE COR NA TABELA*/
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
}


table#tabelaespec td.cd{/*FORMATAÇÃO DE COR NA TABELA*/
	background-color: #cecece;
}

/*--------------------------------------------------------------------------------------*/
/* PERSONALIZAÇÃO DE LINHAS E COLUNAS DA PÁGINA*/

aside#lateral {
	display: block;
	width:500px;/*distancia da lateral direita*/
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 180px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
	font-family: 'fonte3', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2{
	background-color:#606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
	font-family: 'fonte3';
	margin-top:20px;

}

footer#rodape {/*FORMATAÇÃO LINHA FINAL DA PAGINA*/
	clear: both;
	border-top: 1px solid #bebebe;

}

footer#rodape p{/*ALINHAMENTO DE TEXTO AO FINAL DA PAGINA*/
	text-align: center;
}

footer#rodape img#insta{/*ALINHAMENTO DE TEXTO AO FINAL DA PAGINA*/
	margin-top:10px;
}



/*--------------------------------------------------------------------------------------*/
