@charset "UTF-8";

div#tv-radio {
width: 900px;
height :580px;
margin: auto;
background: url("../img/radio-tv.png") no-repeat;

}


audio#musica{
	display: block;
	position: relative;
	left: 550px;
	top: 430px;
	width: 200px;
}

video#filme{
	display: block;
	position: relative;
	left: 70px;
	top: 50px;
	width: 405px;
	

	
}
video#video{
	display: block;
	position: relative;
	width: 405px;
